body {
    font-family: 'Lora', serif;
}

.session {
    background-color: gainsboro;
}

#testimony {
    position: relative;
    height: 50vh;
    z-index: 1;
}

#testimonyDiv {
    position: absolute;
    top: 10%;
    left: 13%;
}

@media(max-width: 880px) {
    #myTestimony {
        display: flex;
        flex-direction: column-reverse;
    }
    #testimony {
        position: relative;
        z-index: 1;
    }
    #testimonyDiv {
        position: absolute;
        top: -20%;
        left: -1%;
    }
}