body{
    font-family: 'Lora', serif;
}
.session{
    background-color: gainsboro;
}



#testimony {
    position: relative;
    height: 100vh;
    z-index: 1;
}

#testimonyDiv {
    position: absolute;
    top: 8%;
    left: 13%;   
}

@media(max-width: 880px) {
    #myTestimony{
        display: flex;
        flex-direction: column-reverse;
        
    }
    #testimony {
        position: relative;
        z-index: 1;
    }
    
    #testimonyDiv {
        position: absolute;
        top: -16%;
        left: -1%;   
    }
}